*
!Dockerfile.cpu
!Dockerfile.cuda
!requirements-common.txt
!requirements-cpu.txt
!requirements-cuda.txt
!app/
!app/**
!config/
!config/**
!tests/
!tests/**
app/__pycache__/
app/**/*.pyc
tests/__pycache__/
tests/**/*.pyc
